{
	auto_https off
}

:80 {
	encode gzip zstd

	@backend path /api/* /health /docs /docs/* /openapi.yaml
	handle @backend {
		reverse_proxy backend:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
