{
	auto_https off
}

:80 {
	encode gzip zstd

	@backend path /api/* /health /docs /docs/* /openapi.yaml
	reverse_proxy @backend backend:8080

	root * /srv
	try_files {path} /index.html
	file_server
}
